<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ba.etf.weatherwatch">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_myplaces"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_myplaces"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DetaljiActivity"
            android:exported="true"
            android:taskAffinity="ba.etf.weatherwatch.detalji" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:taskAffinity="ba.etf.weatherwatch.settings" />

        <activity
            android:name=".ui.PrognozaActivity"
            android:exported="true"
            android:taskAffinity="ba.etf.weatherwatch.prognoza" />

    </application>

</manifest>